.reveal {
    font-size: 70px;
}
.reveal h1 {
    text-transform: none;
}

.dual > div {
    display: flex;
    align-items: flex-start;
}

.dual div {
    font-size: 50px;
}

#chart1 rect {
    fill: blue;
}
#chart1 rect.stator-asyncio,
#chart1 rect.tornado,
#chart1 rect.uwsgi-gevent {
    fill: green;
}

#chart1 text {
    fill: black;
    font: 50px sans-serif;
    text-anchor: start;
    transform: translate(10px, 0)
}


#chart1 text {
    font: 50px sans-serif;
}
#graph1 .abs {
    position: absolute;
    left: 0px;
    width: 100%;
    text-align: center;
}
#graph1 h1 {
    position: relative;
    min-height: 100px;
    font-size: 80px;
}
